{
  "extends": [
    "standard",
    "prettier"
  ],
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "globals": {
    "__DEV__": false
  },
  "plugins": ["prettier"],
  "rules": {
    "spaced-comment": "off"
  }
}
